body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../images/amsterdam.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  padding: 16px 32px;
  display: inline-block;
  border-radius: 4px;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/amsterdamfooter.jpeg");
  font-size: 18px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 100px;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-right: 20px;
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 20px;
}
footer a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
